*{ /* sinal de *, (multiplicação) seleciona TUDO*/
    margin: 0;
    padding: 0;
}

.menu{
    width: 900px;
    margin: 0 auto;
}

.menu > a{
    color: red;
}

.menu a{
    font-size: 20px;
    margin:0 10px;
}