*{
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: tahoma;
}

ul.lista{
    list-style-position: inside;
    list-style-type: circle;
    margin-left: 20px;
}

.lista li{
    color: darkred;
    font-size: 25px;
    margin-top: 10px;
}

.lista li.item3{
    color: darkgreen;
}