*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}


html,body{
	height: 100%;
}

.clear{
	clear: both;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}


header{
	width: 100%;
	height: 90vh;
	padding: 40px 2%;
	background-image: url('../images/background.JPG');
	max-height: 700px;
	background-size: cover;
	background-position: center;
}

header nav{
	float:right;
}

header .logo{
	float: left;
	width: 150px;
	height: 40px;
	background-image: url('../images/lifesound.png');
	background-size: cover;
}


header nav ul{
	list-style-type: none;
}

header nav li{
	float: left;
	padding: 0 20px;
}

header nav ul a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.chamada1{
	max-width: 600px;
	float: right;
	margin:140px 150px;
}

.chamada1 h2{
	font-size: 40px;
	color: white;
	font-weight: normal;
}

section.sessao1{
	width: 100%;
	background-color: #3d180d;
	padding: 20px 2%;
}

.texto-sessao1{
	float: left;
	width: 50%;
	color:white;
}

.texto-sessao1 h2{
	font-weight: 300;
}

.texto-sessao1 p{
	font-size: 13px;
	margin-top: 20px;
}

.texto-sessao1 ul{
	list-style-position: inside;
	font-size: 13px;
}

